<ion-view title="Item Info" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="itemInfo-list6" class=" ">
            <ion-item class="item-thumbnail-left  " id="itemInfo-list-item14">
                <h2>Nikon DSLR Body 2</h2>
                <p style="white-space:normal;">Some information about the item</p>
            </ion-item>
        </ion-list>
        <button id="itemInfo-button8" class=" button button-positive  button-block " ng-click="show()">Book Item</button>
    </ion-content>
</ion-view>