<ion-view title="My Inventory" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="myInventory-list7" class=" ">
            <ion-item class="item-thumbnail-left item-icon-right  " id="myInventory-list-item15" ui-sref="tabsController.itemInfo">
                <h2>Nikon DSLR Body 2</h2>
                <p style="white-space:normal;">Image sensor cleaning, Airflow Control System, Image Dust Off reference data (optional Capture NX 2 software required)</p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="myInventory-list-item16">
                <h2>Canon EOS DSLR Body</h2>
                <p style="white-space:normal;">Standard, Neutral, Vivid, Monochrome, Portrait, Landscape; selected Picture Control can be modified</p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="myInventory-list-item17">
                <h2>Speedlite Flash</h2>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>